<div class="style">
  <div class="blur"></div>
  <mat-card>
    <mat-card-header>
      <h1>Login </h1>
    </mat-card-header>
    <mat-card-content>
      <!-- || !captchaResolved -->
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="example-full-width">
          <mat-label>User Name:</mat-label>
          <input matInput placeholder="Enter your name" formControlName="name"
            [ngClass]="{error: getControl('name')?.errors && getControl('name')?.touched}">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <div *ngIf="getControl('name')?.errors && getControl('name')?.touched" style="color: red">
          <small *ngIf="getControl('name')?.errors?.['required']">{{errors.error.required}}</small>
          <small *ngIf="getControl('name')?.errors?.['minlength']">{{errors.error.valid_name}}</small>
          <small *ngIf="getControl('name')?.errors?.['pattern']">{{errors.error.valid_names}}</small>
        </div>
        <br>


        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="getControl('password')?.errors && getControl('password')?.touched" style="color: red">
          <small *ngIf="getControl('password')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>

        <ngx-recaptcha2 #captchaElem [siteKey]=siteKey formControlName="recaptcha"></ngx-recaptcha2>

        <!-- (reset)="handleRecap()" (expire)="handleExpire()" (load)="handleLoad()" -->
        <!-- (success)="handleSuccess($event)" [size]="size" -->
        <!-- (resolved)="onResolved($event)" -->
        <!-- <re-captcha >aaa</re-captcha> -->
        <!-- <re-captcha [siteKey]='siteKey'></re-captcha> -->
        <br>
        <button mat-raised-button color="primary"  class="buttons">Login</button>
        <a [routerLink]="['/signup']"><button mat-raised-button color="accent"  class="buttons">New ?</button></a>

      </form>
    </mat-card-content>
  </mat-card>
</div>


































































<!-- <form (submit)="onSubmit()">
    <mat-form-field >
      <mat-label>User Name :</mat-label>
      <input matInput type="text" placeholder="Enter username" name="username" [(ngModel)]="username">      
    </mat-form-field>
    <br>
    <mat-form-field >
      <mat-label>Password :</mat-label>
      <input matInput type="password" placeholder="Enter password" name="password" [(ngModel)]="password">      
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="selectedOption" name="selectedOption">
        
          <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
     
      </mat-select>
    </mat-form-field>
    <button mat-button color="accent" type="submit" >Login</button>
    <a routerLink="/signup" mat-raised-button color="accent">New User?</a>
  </form> -->