<!-- observables Create
    -user Input(Button Click Event)
    -Http Request
    -Array
    -Object

observables Handle(subscribe)
    -Data
    -Error
    -completion

.subscribe(
    (data)=> console.log(data),  ---can handle data 
    (error)=> console.log(error),  ---can handle error
    ()=> console.log("complete")    ---can handle completion 
    ) -->
    <app-navbar></app-navbar>
    <router-outlet></router-outlet> 
    <div class="my-3">
    <router-outlet></router-outlet>
    <br>
</div>

