<h2>CRUD Operation</h2>
<a [routerLink]="['/add-emp']" routerLinkActive="active-link" ><button>Add More</button></a>
<br>
<br>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Employee ID</th>
        <th>Job Title</th>
        <th>Department</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allEmployees">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.employeeId }}</td>
        <td>{{ item.jobTitle }}</td>
        <td>{{ item.department }}</td>
        <td (click)="editEmployee(item.id)"><button routerLink="/employees/{{item.id}}/edit" routerLinkActive="active-link" >Edit</button></td>
      </tr>
    </tbody>
  </table>
  

  <!-- (click)="onEditClicked(item.id)" -->