
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(202, 164, 236);
  }
  
  .form-container {
    width: 400px;
    padding: 20px;
    box-shadow: 0 9px 13px rgba(17, 16, 16, 0.1);
    background-color: #ebe4e4;
    border-radius: 18px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  