<div>
    <form [formGroup]="EmployeeForm" (ngSubmit)="EmployeeForm.status !== 'INVALID' && postData(EmployeeForm)">
        <label>Id :</label>
        <input type="number" formControlName="id"><br>

        <label>Name :</label>
        <input type="text" formControlName="name" placeholder="Enter Name"
            [ngClass]="{error: getControl('name')?.errors && getControl('name')?.touched}">
        <div *ngIf="getControl('name')?.errors && getControl('name')?.touched" style="color: red">
            <small *ngIf="getControl('name')?.errors?.['required']">{{errors.error.required}}</small>
            <small *ngIf="getControl('name')?.errors?.['minlength']">{{errors.error.valid_name}}</small>
            <small *ngIf="getControl('name')?.errors?.['pattern']">{{errors.error.valid_names}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('name')?.hasError('required') && EmployeeForm.get('name')?.touched" style="color: red;">
            {{ errors.error.required }}
        </div>
        <div *ngIf="EmployeeForm.get('name')?.hasError('minlength') && EmployeeForm.get('name')?.touched" style="color: red;">
            {{ errors.error.valid_name }}.
        </div> -->

        

        <label>Gender :</label>
        <input type="text" formControlName="gender" placeholder="Enter Gender"
            [ngClass]="{error: getControl('gender')?.errors && getControl('gender')?.touched}">
        <div *ngIf="getControl('gender')?.errors && getControl('gender')?.touched" style="color: red">
            <small *ngIf="getControl('gender')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('gender')?.hasError('required') && EmployeeForm.get('gender')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <label>Email:</label>
        <input type="text" formControlName="email" placeholder="Enter Email"
            [ngClass]="{error: getControl('email')?.errors && getControl('email')?.touched}">
        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched" style="color: red">
            <small *ngIf="getControl('email')?.errors?.['required']">{{errors.error.required}}</small>
            <small *ngIf="getControl('email')?.errors?.['pattern']">{{errors.error.valid_email}}</small>
        </div>
        <br>

        <!-- <div *ngIf="EmployeeForm.get('email')?.hasError('required') && EmployeeForm.get('email')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div> -->
        <!-- <div *ngIf="EmployeeForm.get('email')?.hasError('pattern') && EmployeeForm.get('email')?.touched"
            style="color: red;">
            {{ errors.error.valid_emplyId}}
        </div><br> -->

        <label>Education :</label>
        <input type="text" formControlName="education" placeholder="Enter Education"
            [ngClass]="{error: getControl('education')?.errors && getControl('education')?.touched}">
        <div *ngIf="getControl('education')?.errors && getControl('education')?.touched" style="color: red">
            <small *ngIf="getControl('education')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('jobTitle')?.hasError('required') && EmployeeForm.get('jobTitle')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <label>Phone.No :</label>
        <input type="text" formControlName="phonenumber" placeholder="Enter Phone number"
            [ngClass]="{error: getControl('phonenumber')?.errors && getControl('phonenumber')?.touched}">
        <div *ngIf="getControl('phonenumber')?.errors && getControl('phonenumber')?.touched" style="color: red">
            <small *ngIf="getControl('phonenumber')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>

        <!-- <div *ngIf="EmployeeForm.get('department')?.hasError('required') && EmployeeForm.get('department')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <button type="submit" [disabled]="EmployeeForm.status === 'INVALID'">Submit</button>
        <button routerLink="/employees" routerLinkActive="active-link">Back</button>
    </form>
</div>