<div >
    <form [formGroup]="EmployeeForm" (ngSubmit)="EmployeeForm.status !== 'INVALID' && postData(EmployeeForm)">
        <label>Id :</label>
        <input type="number" formControlName="id"><br>

        <label>Name :</label>
        <input type="text" formControlName="name" placeholder="Enter Name" [ngClass]="{error: getControl('name')?.errors && getControl('name')?.touched}"> 
        <div *ngIf="getControl('name')?.errors && getControl('name')?.touched" style="color: red">
            <small *ngIf="getControl('name')?.errors?.['required']">{{errors.error.required}}</small>
            <small *ngIf="getControl('name')?.errors?.['minlength']">{{errors.error.valid_name}}</small>
            <small *ngIf="getControl('name')?.errors?.['pattern']">{{errors.error.valid_names}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('name')?.hasError('required') && EmployeeForm.get('name')?.touched" style="color: red;">
            {{ errors.error.required }}
        </div>
        <div *ngIf="EmployeeForm.get('name')?.hasError('minlength') && EmployeeForm.get('name')?.touched" style="color: red;">
            {{ errors.error.valid_name }}.
        </div> -->
        

        <label>Gender :</label>
        <input type="text" formControlName="gender" placeholder="Enter Gender" [ngClass]="{error: getControl('gender')?.errors && getControl('gender')?.touched}">
        <div *ngIf="getControl('gender')?.errors && getControl('gender')?.touched" style="color: red">
            <small *ngIf="getControl('gender')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('gender')?.hasError('required') && EmployeeForm.get('gender')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <label>EmployeeId :</label>
        <input type="text" formControlName="employeeId" placeholder="Enter Employee Id" [ngClass]="{error: getControl('employeeId')?.errors && getControl('employeeId')?.touched}">
        <div *ngIf="getControl('employeeId')?.errors && getControl('employeeId')?.touched" style="color: red">
            <small *ngIf="getControl('employeeId')?.errors?.['required']">{{errors.error.required}}</small>
            <small *ngIf="getControl('name')?.errors?.['pattern']">{{errors.error.valid_emplyId}}</small>
        </div>
        <br>
        
        <!-- <div *ngIf="EmployeeForm.get('employeeId')?.hasError('required') && EmployeeForm.get('employeeId')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div> -->
        <!-- <div *ngIf="EmployeeForm.get('employeeId')?.hasError('pattern') && EmployeeForm.get('employeeId')?.touched"
            style="color: red;">
            {{ errors.error.valid_emplyId}}
        </div><br> -->

        <label>Job Title :</label>
        <input type="text" formControlName="jobTitle" placeholder="Enter job Title" [ngClass]="{error: getControl('jobTitle')?.errors && getControl('jobTitle')?.touched}">
        <div *ngIf="getControl('jobTitle')?.errors && getControl('jobTitle')?.touched" style="color: red">
            <small *ngIf="getControl('jobTitle')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>
        <!-- <div *ngIf="EmployeeForm.get('jobTitle')?.hasError('required') && EmployeeForm.get('jobTitle')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <label>Department :</label>
        <input type="text" formControlName="department" placeholder="Enter Department" [ngClass]="{error: getControl('department')?.errors && getControl('department')?.touched}">
        <div *ngIf="getControl('department')?.errors && getControl('department')?.touched" style="color: red">
            <small *ngIf="getControl('department')?.errors?.['required']">{{errors.error.required}}</small>
        </div>
        <br>
       
        <!-- <div *ngIf="EmployeeForm.get('department')?.hasError('required') && EmployeeForm.get('department')?.touched"
            style="color: red;">
            {{ errors.error.required }}
        </div><br> -->

        <button type="submit" [disabled]="EmployeeForm.status === 'INVALID'">Submit</button>
        <button routerLink="/employees" routerLinkActive="active-link" >Back</button>
    </form>
</div>