/* navbar.component.css */

.navbar {
    background-color: #574d4d;
    overflow: hidden;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    /* background-color: #ddd; */
    color: black;
  }
  
  .navbar a.active-link {
    background-color: #4CAF50;
    color: white;
  }

  .logout-button {
    background-color: #ff0000 !important; 
    color: #ffffff !important; 
    font-weight: bold !important; 
  }
  