 <mat-toolbar  *ngIf="isAuthenticated()">
<nav class="navbar" >
    <a [routerLink]="['/home']" routerLinkActive="active-link">Home</a>     
    <a [routerLink]="['students/student']" routerLinkActive="active-link">Student</a>
    <a [routerLink]="['students/studentdetails']" routerLinkActive="active-link">StudentDetails</a>
    <a [routerLink]="['/course']" routerLinkActive="active-link">Course</a>  
    <a routerLink="/department/it" routerLinkActive="active-link">IT</a>
    <a routerLink="/department/computer" routerLinkActive="active-link">Computer</a>
    <a [routerLink]="['/employees']" routerLinkActive="active-link" *ngIf="isAdmin()">Employee</a>  
    <a routerLink="/observable/list" routerLinkActive="active-link"*ngIf="isAdmin()">List</a>
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">   
        <button mat-menu-item  (click)="editProfile()" [routerLink]="['/profile/userId',userId]"   >Edit Profile</button>    
        <button mat-menu-item   class="logout-button" (click)="logout()">Logout</button>
      </mat-menu>
      

</nav>
</mat-toolbar>

<!-- [queryParams]="{ id: userId }" -->
<!-- <a routerLink='/department' routerLinkActive="active-link" >Department</a> -->
<!-- <a [routerLink]="['/users/list']" routerLinkActive="active-link" >User List</a> -->
<!-- <a [routerLink]="['/lang']" routerLinkActive="active-link" >Languages</a> -->