<div class="card-container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>1</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/fmanager1.jpg" alt="female">
        <mat-card-content>
     
            <h3>Name :<span> Emily Thompson</span></h3> 
            <h3>Job Title : <span>Front-End Manager</span></h3>
            <h3>Work Experience : <span>3+</span></h3>
       
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>2</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/head-shot-smiling-confident-young-ceo-executive-male-manager-employee-worker-businessman-in-eyewear-posing-in-modern-office-room-professional-profile-photo-video-call-virtual-me.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
     
            <h3>Name : <span> Michael Williams</span></h3> 
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience :<span>3+</span></h3> 
      
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>3</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img3.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
     
            <h3>Name :<span> Christopher Davis</span></h3> 
            <h3>Job Title : <span>Front-End Manager</span></h3>
            <h3>Work Experience :<span>3+</span></h3> 
       
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>4</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/fmanager2.jpg" alt="female">
        <mat-card-content>
       
            <h3>Name : <span> Sarah Johnson</span></h3>
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience :<span>3+</span></h3> 
     
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>
    
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>5</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img4.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
      
            <h3>Name : <span> Brian Taylor</span></h3>
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience : <span>3+</span></h3>
      
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>6</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/img2.jpg" alt="female1">
        <mat-card-content>
      
            <h3>Name :<span> Lauren Rodriguez</span></h3> 
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience : <span>3+</span></h3> 
         
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>7</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/manager2.jpg" alt="female1">
        <mat-card-content>
         
            <h3>Name :<span> Kevin Brown</span></h3> 
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience :<span>3+</span></h3> 
         
        </mat-card-content>
        <br>
        <mat-card-actions>
          <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>8</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/fmanager3.jpg" alt="female1">
        <mat-card-content>
      
            <h3>Name :<span> Ashley Martinez</span></h3> 
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience :<span>3+</span></h3> 
       
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Manger</mat-card-title>
          <mat-card-subtitle>9</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/head-shot-smiling-confident-young-ceo-executive-male-manager-employee-worker-businessman-in-eyewear-posing-in-modern-office-room-professional-profile-photo-video-call-virtual-me.jpg" alt="female1">
        <mat-card-content>
         
            <h3>Name :<span> Jason Anderson</span></h3>
            <h3>Job Title :<span>Front-End Manager</span></h3> 
            <h3>Work Experience :<span>3+</span></h3> 
          
        </mat-card-content>
        <br>
        <mat-card-actions>
            <button mat-button>LINKEDIN</button>
        </mat-card-actions>
      </mat-card>

</div>



