<app-navbar></app-navbar>

<router-outlet></router-outlet> 

<div *ngIf="userName" class="card-container">
  <div class="graph">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Employee Gender Distribution</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <canvas #canvas width="400" height="200"></canvas>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="graph">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-date-time></app-date-time>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="graph">
    <mat-card class="weather">
      <mat-card-header>
        <mat-card-title>Weather</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-weather></app-weather>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="card-container">
  <div class="graph">
    <mat-card class="piechart">
      <mat-card-header>
        <mat-card-title>Education</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-pie></app-pie>
      </mat-card-content>
    </mat-card>
  </div>
</div>
